@font-face {
    font-family: 'HK Grotesk';
    src: url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-HKGrotesk-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-HKGrotesk-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-HKGrotesk-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-HKGrotesk-Regular.ttf') format('truetype'),
        url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-GlacialIndifference-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/blogswami/assets/font/subset-GlacialIndifference-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
